.containeadd {
    border: 0.1px solid rgb(232, 222, 222);
    height: 50px;
    box-shadow: rgba(167, 163, 163, 0.2) 0px 8px 24px;
    margin-bottom: 20px; /* Adjust as needed */
  }
  
  .image1 {
    width: 50px;
  }
  
  .btn-1 {
    margin-top: 20px;
  }
  
  .btn {
    background-color: rgb(51, 19, 82);
    color: white;
    width: 200px;
  }
  
  .shop {
    margin-top: 100px; /* Adjust as needed */
  }
  
  .form-label {
    font-weight: bold;
    text-align: start;
    color: #333;
    font-size: 1rem;
    display: block;
  }
  
  .formtext {
    width: 500px; /* Adjust as needed */
    margin-left: 10px; /* Adjust as needed */
  }
  
  .containerform,
  .containerform1 {
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .containerform {
    margin-left: 10px; /* Adjust as needed */
  }
  
  .containerform1 {
    margin-left: 10px; /* Adjust as needed */
  }
  
  @media (max-width: 768px) {
    .form-control {
      width: 100%;
    }
  
    .image1 img {
      width: 100%;
    }
  
    .table-responsive {
      overflow-x: auto;
    }
  
    .formtext {
      width: 300px; /* Adjust as needed */
      margin-left: 0; /* Adjust as needed */
    }
  }
  